{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html>
    <head>
        <title>Baby Sitting sharing</title>
        <meta property="og:title" content="Baby Sitting sharing" />
        <meta property="og:image" content="{% static 'tasdanimaux.png' %}" />
        <meta property="og:description" content="{% trans 'Share baby-sittings with other parents' %}" />
        <link rel='stylesheet' href='{% static "css/fullcalendar.css" %}' />
        <link rel='stylesheet' href='{% static "css/bootstrap.css" %}' />
        <link rel='stylesheet' href='{% static "css/bootstrap-theme.css" %}' />
        <link rel='stylesheet' href='{% static "css/bbsittingsharing.css" %}' />
        <script src='{% static "js/jquery.min.js" %}'></script>
        <script src='{% static "js/moment.min.js" %}'></script>
        <script src='{% static "js/polyfiller.js" %}'></script>
        <script src='{% static "js/bootstrap.js" %}'></script>
        <script src='{% static "js/fullcalendar.js" %}'></script>
        <script src='{% static "js/moment-locale/"|add:LANGUAGE_CODE|add:".js" %}'></script>
        <script src='{% static "js/bbsittingsharing.js" %}'></script>
        <script>
            webshims.polyfill("forms-ext");
            webshim.setOptions("forms-ext", {"date": {"startView": 2,"inlinePicker": true}});
        </script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <img id="tasdanimaux" src="{% static 'tasdanimaux.png' %}" alt=""></div>
        <header>
            {% if user.is_authenticated %}
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">{% trans "My account" %}</a></li>
                    <li><a href="{% url 'refer' %}">{% trans "Refer" %}</a></li>
                    <li><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
                </ul>
            </nav>
            {% endif %}
            <h1>
                <a href="{% url 'index' %}">Bbsitting sharing</a>
                <br>
                <img id="byechokids" src="{% static 'byechokids.png' %}" alt="by Echos Kids" />
            </h1>
        </header>
        
        <main class="container">
            {% block content %}{% endblock %}
        </main>
        
        <footer>
            <nav class="container">
                <ul>
                    <li class="col-md-3"><a href="{% url 'terms' %}">{% trans "Terms" %}</a></li>
                    <li class="col-md-3"><a href="{% url 'legal' %}">{% trans "Legal statement" %}</a></li>
                    <li class="col-md-3"><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
                    <li class="col-md-3"><a href="{% url 'info' %}">{% trans "How does it work?" %}</a></li>
                </ul>
            </nav> 
        </footer>
    </body>
</html>
