{% load staticfiles %}
{% load i18n %}
<!doctype html>
<html>
    <head>
        <title>Baby Sitting sharing</title>
        <link rel='stylesheet' href='{% static "css/fullcalendar.css" %}' />
        <link rel='stylesheet' href='{% static "css/bootstrap.css" %}' />
        <link rel='stylesheet' href='{% static "css/bootstrap-theme.css" %}' />
        <link rel='stylesheet' href='{% static "css/bootstrap-datepicker3.css" %}' />
        <link rel='stylesheet' href='{% static "css/bbsittingsharing.css" %}' />
        <script src='{% static "js/jquery.min.js" %}'></script>
        <script src='{% static "js/moment.min.js" %}'></script>
        <script src='{% static "js/bootstrap.js" %}'></script>
        <script src='{% static "js/moment-locale/"|add:LANGUAGE_CODE|add:".js" %}'></script>
        <script src='{% static "js/bootstrap-datetimepicker.min.js" %}'></script>
        <script src='{% static "js/fullcalendar.js" %}'></script>
        <script src='{% static "js/bbsittingsharing.js" %}'></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <header>
            {% if user.is_authenticated %}
            <nav>
                <ul>
                    <li><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
                    <li><a href="{% url 'index' %}">{% trans "My account" %}</a></li>
                    <li><a href="{% url 'refer' %}">{% trans "Refer" %}</a></li>
                </ul>
            </nav>
            {% endif %}
            <h1>
                <a href="{% url 'index' %}">Bbsitting sharing</a>
                <div>by Echos Kids</div>
            </h1>
        </header>
        
        <main class="container">
            {% block content %}{% endblock %}
        </main>
        
        <footer>
            <nav class="container">
                <ul>
                    <li class="col-md-3"><a href="{% url 'terms' %}">{% trans "Terms" %}</a></li>
                    <li class="col-md-3"><a href="{% url 'legal' %}">{% trans "Legal statement" %}</a></li>
                    <li class="col-md-3"><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
                    <li class="col-md-3"><a href="{% url 'info' %}">{% trans "Who are we?" %}</a></li>
                </ul>
            </nav> 
        </footer>
    </body>
</html>
