{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h2>{% trans "Should we organize to share a babysitting?" %}</h2>

{% if user.is_authenticated %}
<ul>
    <li>{% trans "The concept" %}</li>
    <li>{% trans "Who are we?" %}</li>
    <li>{% trans "Keep calm" %}</li>
</ul>
{% else %}
<ul>
    <li><a href="">{% trans "Refer" %}</a></li>
    <li><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>
    <li><a href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
</ul>
{% endif %}
{% endblock %}
