{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div id="pagetitle">
    <h4>{% trans "Should we organize to share a babysitting?" %}</h4>
    <img src="{% static 'parents.png' %}" class="parents" alt="parents" />
    <nav class="btn-group">
        <ul>
            <li class="btn"><a href="{% url 'registration_register' %}">{% trans "Register" %}</a></li>
            <li class="btn"><a href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
        </ul>
    </nav>
</div>
<img src="{% static 'home.png' %}" width="720" />
<div id="info">
    <div class="col-sm-6">
        <h4>{% trans "Who are we?" %}</h4>
        Les conditions générales sont à écrire. AU BOULOT LOLO
    </div>
    <div class="col-sm-6">
        <h4>{% trans "Keep cool" %}</h4>
        Au boulot !!!!
    </div>
</div>
{% endblock %}
