{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div id="pagetitle">
    <h4>{% trans "Terms of use" %}</h4>
</div>
<div class="panel terms">
    <h4>Lorem</h4>
    <h5>Ipsum</h5>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor erat, fermentum eget nibh eget, vehicula mollis lectus. Praesent tristique libero nec diam aliquet volutpat. Integer rhoncus sapien ut tempor malesuada. Aenean bibendum dui quam, eget bibendum sapien posuere eget. Phasellus non ante congue, egestas ligula a, facilisis ex. Etiam sed leo porttitor, finibus magna ac, venenatis nisl. Aliquam lobortis venenatis urna, semper accumsan nibh imperdiet non. Proin cursus efficitur nunc, eu laoreet orci condimentum vitae. Curabitur vel vestibulum dui. Sed justo metus, commodo eget interdum fringilla, hendrerit vel nulla. Nunc non lorem sed velit facilisis ultricies vitae eu velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla luctus ipsum quis mattis elementum.</p>

    <p>Etiam eget sapien auctor, bibendum augue ut, ultrices nisi. Nam in sapien in ante elementum egestas. Vestibulum id libero ac lectus ultrices feugiat eget vel massa. Sed nec turpis eget urna sodales ultrices sed nec sem. Sed ac erat orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed dictum vulputate purus. Nulla non egestas purus. Nullam eget molestie ipsum, nec placerat felis.</p>
</div>
{% endblock %}
