/*
le bleu ciel:   #67acf2
le bleu foncé:  #183c77
le rouge:       #fc5151
le rouge foncé: #cc3636
le gris clair:  #f2f0ed
le gris foncé:  #8c8c8c
*/
@font-face {
    font-family: "Gotham";
    src: url('/static/fonts/Gotham-Light.ttf');
}
@font-face {
    font-family: "Gotham";
    font-weight: bold;
    src: url('/static/fonts/Gotham-Medium.ttf');
}
h1, h2, h3, h4, h5, .btn, .panel {
    font-weight: bold;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: "Gotham",Helvetica,Arial,sans-serif;
    color: #183c77;
    margin-bottom: 130px;
    background-color: #f2f0ed;
}
#tasdanimaux {
    position: absolute;
    top: 70px;
    z-index: 10;
    width: 10%;
    left: 50px;
}
#tasdanimaux.scrolled {
    position: fixed;
    top: -350px;
}
header {
    height: 140px;
    padding: 1em;
    margin-bottom: 2em;
    background: white;
}
header h1 {
    margin: auto;
    width: 20em;
    text-align: center;
    color: #fc5151;
}
header h1 a {
    color: #183c77;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    letter-spacing: 5px;
}
#byechokids {
    width: 160px;
}
header nav {
    float: right;
    margin: 1em;
    font-weight: bold;
    font-size: 110%;
}
header nav ul {
    list-style-type: none;
    padding: 0;
}
#pagetitle {
    position: relative;
    margin: 1em auto;
    padding: 2em;
    background: #67acf2;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
}
#pagetitle .btn {
    background: white;
    width: 10em;
    margin: 1em 3em;
    padding: .7em;
    color: #183c77;
}
#pagetitle nav {
    width: 100%;
}
#pagetitle ul {
    list-style-type: none;
    padding: 0;
}
main {
    max-width: 750px;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    padding: 2.5em;
    background: #67acf2;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
footer nav {
    max-width: 800px;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer a {
    color: white;
}

form {
    margin: 0 -15px;
}
label {
    margin-left: 2em;
}
.btn-group {
    margin-left: 1em;
}

.btn-checkbox {
    background: white;
    font-weight: lighter;
}
.btn-checkbox.active {
    background: #183c77;
    color: white;
    font-weight: bold;
}
.panel {
    padding: 2em;
    background: white;
    border-radius: 10px;
    color: #183c77;
}
.panel h3 {
    text-align: center;
}
.panelbtn {
    width: 12em;
    background: #fc5151;
    border-bottom: 5px solid #cc3636;
    padding: .7em 1.2em;
    color: white;
}
.panelbtn:hover {
    background: #cc3636;
    color: white;
}
.profile p, .planning p {
    padding: 2em 0 0;
    height: 5em;
    border-top: solid #E8E8E8 1px;
}
.panel .number {
    font-size: 2em;
    color: #fc5151;
    vertical-align: -5px;
}
.panel .value {
    color: #67acf2;
}
.panel .calendar-icon {
    width: 20px;
}
.date-search-results {
    margin: 1em 0;
}
.date-search-results .glyphicon {
    color: #fc5151;
}
.panel-margin {
    margin: 0 0 2em 2em;
}
.panel-margin h3{
    margin-top: 0;
}
.panel-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.panel-confirm {
    text-align: center;
}
.panel-advice {
    color: #fc5151;
    font-style: oblique;
}
.team-sign {
    margin-top: 2em;
    color: #67acf2;
    text-transform: uppercase;
}
.terms h4, .terms h5 {
    border-top: solid #E8E8E8 1px;
    padding: 1em 0;
    margin: 0 1em;
}
.terms p {
    margin: 1em;
    text-align: justify;
    font-weight: lighter;
}

table.date-search-results td {
    padding: 1em;
}
.search-result-selected {
    color: #fc5151;
}
.search-result-selected .search-result a {
    color: #fc5151;
}
td.search-result {
    border: 2px solid #f2f0ed;
}
td.search-result .result-details {
    font-weight: lighter;
}
img.parents {
    position: absolute;
    height: 250px;
    right: -160px;
    top: 30px;
}
#info {
    margin: 4em auto 0 auto;
    color: #8c8c8c;
    text-align: justify;
}
#info div {
    padding: 0 1.5em;
}
#info h4 {
    margin-bottom: 2em;
    color: #183c77;
    text-align: center;
}
.friends-title {
    text-align: center;
}
.friends-col {
    margin-top: 1em;
}
.friends-btn {
    margin: 1em;
}
.profile-friends-btn {
    width: 100%;
    margin: .4em;
}
.bookbtn {
    background: #67acf2;
    border-bottom: solid #183c77;
    color: white;
}
.bookbtn-full {
    background: #183c77;
    color: white;
    font-weight: lighter;
    font-style: oblique;
}

#bbsitting-form label[for=id_bbsitter]::before {
    content: "✉";
    position: relative;
    top: 5px;
    display: inline-block;
    margin: 0 .5em;
    line-height: 1;
    font-size: 150%;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
}

img.profile {
    max-width: 100%;
}
.page-help {
    width: 80%;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    font-style: oblique;
}
.userlist {
    font-size: 80%;
    margin: .2em;
}
.userlist.pull-left {
    max-width: 45%;
}
.userthumb {
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

/* Calendar customization */
.calendarpanel {
    position: relative;
}
.fc-right {
    display: none;
}
.fc-basic-view .fc-body .fc-row {
    min-height: 2em;
}
.fc-content-skeleton {
    display: none;
}
.fc-day:hover {
    position: relative;
    top: -5px;
    left: -5px;
    z-index: 5;
    background: #f2f0ed;
    box-shadow: 3px 3px 5px #8c8c8c;
}
.fc-left {
    width: 100%;
}
.fc-left h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
}
.calendar-arrow {
    position: absolute;
    top: 50%;
    font-size: 1.5em;
}
.calendar-arrow.left {
    left: 0;
}
.calendar-arrow.right {
    right: 0;
}
.calendar-day {
    width: 24px;
    height: 22px;
    padding: 12px 9px;
    text-align: center;
}
.calendar-day.bbsitting {
    position: relative;
    top: 6px;
    left: 10px;
    background-size: 24px 32px;
    background-repeat: no-repeat;
    padding: 5px 1px;
}
.calendar-day.booked {
    background-image: url('/static/goutterougesombre.png');
}
.calendar-day.request {
    background-image: url('/static/goutterouge.png');
}
.calendar-day.group {
    background-image: url('/static/gouttebleue.png');
}
.calendar-day.bbsitting a {
    color: white;
}
.calendar-day.other-month a {
    color: #f2f0ed;
}
.calendar-day .detail {
    display: none;
    font-size: 50%;
}
.calendar-day.bbsitting:hover {
    width: 40px;
    height: 52px;
    top: 0;
    left: 0;
    background-size: 40px 56px;
    transition-property: width, height, top, left, background-size;
    transition-duration: .1s;
}
.calendar-day.bbsitting:hover .detail {
    display: block;
}
.drop {
    width: 24px;
    height: 32px;
    margin-top: 1em;
    margin-left: 3em;
    vertical-align: -5px;
}
