/*
le bleu ciel:   #67acf2
le bleu foncé:  #183c77
le rouge:       #fc5151
le rouge foncé: #cc3636
le gris clair:  #f2f0ed
le gris foncé:  #8c8c8c
*/
@font-face {
    font-family: "Gotham";
    src: url('/static/fonts/Gotham-Light.ttf');
}
@font-face {
    font-family: "Gotham";
    font-weight: bold;
    src: url('/static/fonts/Gotham-Medium.ttf');
}
h1, h2, h3, h4, h5, .btn, .panel {
    font-weight: bold;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: "Gotham",Helvetica,Arial,sans-serif;
    color: #183c77;
    margin-bottom: 190px;
    background-color: #f2f0ed;
}
header {
    height: 140px;
    padding: 2em;
    margin-bottom: 2em;
    background: white;
}
header h1 {
    margin: auto;
    width: 20em;
    text-align: center;
    color: #fc5151;
}
header h1 a {
    color: #183c77;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8em;
    letter-spacing: 5px;
}
header nav {
    float: right;
    font-weight: bold;
}
header nav ul {
    list-style-type: none;
    padding: 0;
}
#pagetitle {
    position: relative;
    width: 70%;
    margin: 1em auto;
    padding: 1.2em;
    background: #67acf2;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
#pagetitle .btn {
    background: white;
    margin: 1.5em;
    width: 8em;
}
#pagetitle nav {
wi  dth: 100%;
}
#pagetitle ul {
    list-style-type: none;
    padding: 0;
}
main form {
    width: 50%;
    margin: auto;
}
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 160px;
    padding: 5em;
    background: #67acf2;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
footer ul {
    list-style-type: none;
}
footer a {
    color: white;
}

.panel {
    padding: 2em;
    background: white;
    border-radius: 10px;
    color: #183c77;
}
.panel h3 {
    text-align: center;
}
.panelbtn {
    background: #fc5151;
    border-bottom: solid #cc3636;
    color: white;
}
.panel p {
    margin: 2em;
    padding: 1em 0;
    border-top: solid #E8E8E8 1px;
}
.panel .number {
    font-size: 2em;
    color: #fc5151;
}
.panel .glyphicon {
    color: #F2F0ED;
}
.panel-margin {
    margin: 2em;
}
.panel-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

img.parents {
    position: absolute;
    height: 200px;
    right: -120px;
    top: 40px;
}
#info {
    width: 80%;
    margin: 4em auto 0 auto;
    color: #8c8c8c;
    text-align: justify;
}
#info h4 {
    margin-bottom: 2em;
    color: #183c77;
    text-align: center;
}
.friends-title {
    text-align: center;
}
.friends-col {
    margin-top: 1em;
    border: solid #f2f0ed;
}
.friends-btn {
    margin: 1em;
}
.profile-friends-btn {
    width: 100%;
    margin: .4em;
}
.calendarbtn {
    background: #fc5151;
    border-bottom: solid #cc3636;
    margin: 1em auto;
    color: white;
    text-align: center;
}

img.profile {
    max-width: 90%;
}
#calendar-right .fc-right {
    display: none;
}
.profile-edit-help {
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    font-size: .8em;
    font-style: oblique;
}

.userthumb {
    height:  5em;
}
