{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div id="pagetitle">
    {% trans "Calendar around the" %} {{selected_date|date:"l j F Y"}}
</div>

<div class="panel">
    <table class="date-search-results">
    {%for bbsitting in bbsitting_list %}
        <tr{% if bbsitting = selected_bbsitting %} class="search-result-selected"{% endif %}>
            <td>
                {% trans "On" %} {{bbsitting.date}}
            </td>
            <td class="search-result">
                <a href="{% url 'profile' bbsitting.author.username %}">{% blocktrans with name=bbsitting.author.get_full_name %}At {{name}}'s{% endblocktrans %}</a>
                <span class="result-details">
                    {% trans "From" %} {{bbsitting.start|date:"H:i"}}
                    Bbsitter
                    {% if bbsitting.bbsitter_found %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </span>
            </td>

            <td>
            {% if bbsitting.author != user %}
                {% if bbsitting.is_booked %}
                <span class="btn bookbtn-full" title="{{bbsitting.booked.count}} {% trans "spots booked out of" %} {{bbsitting.children_capacity}}">{% trans "not available" %}</span>
                {% else %}
                <a class="btn bookbtn" href="{% url 'book' bbsitting.pk %}" title="{{bbsitting.booked.count}} {% trans "spots booked out of" %} {{bbsitting.children_capacity}}">{% trans "book" %}</a>
                {% endif %}
            {% endif %}
            </td>
        </tr>
    {% empty %}
        {% trans "No bbsitting found near that date." %}
    {% endfor %}
    </table>
    <a class="btn panelbtn pull-left" href="{% url 'calendar' %}">{% trans "Back to the calendar" %}</a>
    <a class="btn panelbtn pull-right" href="{% url 'new' %}">{% trans "Propose a date" %}</a>
    <div class="clearfix"></div>
</div>
{% endblock %}
