{% extends "base.html" %}
{% load bbsitting_tags %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#calendar-right').fullCalendar({ 'events': {{bbsitting_list|bbjson}}, height: 350});
        $('#calendar-left').fullCalendar({ 'events': {{bbsitting_list|bbjson}}, height: 350, 'viewRender': syncCalendars});
    });
</script>
{% endblock %}
{% block content %}
<div class="col-sm-9 panel panel-center">
    <div id="calendar-left" class="col-sm-6"></div>
    <div id="calendar-right" class="col-sm-6"></div>
    <div class="clearfix"></div>
</div>
{% endblock %}
