{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div id="pagetitle">
    <h3>{% trans "My friends" %}</h3>
</div>
<a class="btn panelbtn friends-btn" href="{% url 'refer' %}">{% trans "Refer" %}</a>

<div class="panel">
    <div class="col-md-6">
        <h4 class="friends-title">{% trans "My friends" %}</h4>
    </div>
    <div class="col-md-6">
        <h4 class="friends-title">{% trans "My neighbours" %}</h4>
    </div>
    <div class="col-md-3 friends-col">
        <h5 class="friends-title">{% trans "Facebook"%}</h5>
        {% include "bbsittingsharing/friends.html" with users=friends %}
    </div>
    <div class="col-md-3 friends-col">
        <h5 class="friends-title">{% trans "Referees"%}</h5>
    </div>
    <div class="col-md-3 friends-col">
        <h5 class="friends-title">{% trans "District"%}</h5>
        {% include "bbsittingsharing/friends.html" with users=user.district.users.all %}
    </div>
    <div class="col-md-3 friends-col">
        <h5 class="friends-title">{% trans "Arrondissement"%}</h5>
        {% include "bbsittingsharing/friends.html" with users=user.groups.first.user_set.all %}
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
