{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
<div id="pagetitle">
    <h3>{% trans "Refer to a friend" %}</h3>
</div>
<div>
    <form method="POST">
        {% csrf_token %}
        {{form|bootstrap}}
        <input type="submit" class="btn panelbtn pull-right" />
        <div class="clearfix"></div>
    </form>
</div>
{% trans 'or' %}
<a class="btn panelbtn" href="https://www.facebook.com/dialog/send?app_id=1606386862970335&display=popup&caption={% trans 'Share your Baby sittings!' %}&link=http%3A%2F%2F{{ request.META.HTTP_HOST }}{% url 'registration_register' %}%3Freferer%3D{{user.email}}&redirect_uri=http%3A%2F%2F{{ request.META.HTTP_HOST }}{% url 'refer' %}">{% trans 'Refer with facebook' %}</a>
{% endblock %}
